@mixin respond-to($breakpoint) {
    @media screen and (min-height: 550px) and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin reset-button {
    border: 0;
    background: none;
}

@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin dots-animation($bc-color) {
    overflow: hidden;

    & span {
        position: relative;
        background: none;
    }

    & span::before {
        background-color: $bc-color;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        animation: dots 2s steps(3, start) infinite;
    }
}


