<button class="find-match-button">Find match</button>
<button class="create-match-button">Create match</button>

@{ 
    string _guid = Guid.NewGuid().ToString();
}

<div class="create-match">
    <div class="container mb-2">
            <div class="form-row py-2">
                <div class="col mb-2">
                    <label for="name">Name match</label>
                    <input class="form-control name-match-input"
                           id="name"
                           type="text"
                           required
                           value="@_guid"/>
                </div>
            </div>

            <div class="form-row py-2">
                <div class="col mb-2">
                    <label for="password">Password match</label>
                    <input class="form-control"
                           id="password"
                           type="password" />
                </div>
            </div>

            <div class="form-row">
                <div class="col text-center mb-2">
                    <button type="button" class="btn btn-primary px-4 py-2 create-match__back-button">Back</button>
                </div>
                <div class="col text-center">
                    <a href="@Url.RouteUrl("Game", new { id = @_guid })" class="btn btn-primary px-4 py-2">Create</a>
                </div>
            </div>
    </div>
</div>

<div class="find-match">
    <ul>
        <li><button>bezi's match</button></li>
        <li><button>kosia's match</button></li>
        <li><button>bezi's match</button></li>
        <li><button>kosia's match</button></li>
        <li><button>bezi's match</button></li>
        <li><button>kosia's match</button></li>
        <li><button>bezi's match</button></li>
        <li><button>kosia's match</button></li>
        <li><button>bezi's match</button></li>
        <li><button>kosia's match</button></li>
    </ul>

    <button class="find-match__back-button">Back</button>
</div>

<script type="module" src="~/js/index.js"></script>