.create-match {
    flex-direction: column;
    height: auto;
    display: none;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 2px 2px 20px;
    background-color: white;


    @include respond-to(small) {
        width: 60%;
    }
}

.create-match-button {
    background-color: #FF9D1F;
    border-color: white;
    color: white;
    
    &:hover {
        opacity: 0.9;
    }
}

.create-match_active {
    display: block;
}
