.find-match {
    height: 91%;
    width: 90%;
    flex-direction: column;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    box-shadow: 2px 2px 20px;
    border-radius: 8px;
    background-color: white;


    @include respond-to(small) {
        width: 60%;
        height: 70%;
    }

    ul {
        padding: 10px;
        overflow: auto;
        flex-grow: 1;

        li {
            list-style: none;
            margin-top: 10px;
            box-shadow: 1px 1px 3px;
            background-color: white;
        }

        li a {
            height: 100%;
            width: 100%;
            text-decoration: none;
            display: block;
            padding: 5px;
            color: black;
        }

        li button {
            @include reset-button;
            height: 100%;
            width: 100%;
            text-align: left;
            padding: 5px;
            color: black;
        }
    }
}

.find-match_active {
    display: flex;
}

.find-match__top-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.find-match__refresh-list {
    @include reset-button;
    color: #343a40;
}
