.home-bottom {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home-bottom__show-informations-about-game-button, .home-bottom__mute-or-unmute-sounds-button {
    height: auto;
    width: 20%;
    margin: 5%;
    padding: 2%;
}
