.chat-communicator {
    width: 100%;
    pointer-events: auto;
    height: 30%;
    position: fixed;
    z-index: 3;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px;
    background-image: linear-gradient(to right, #5499c7, #2980b9);

    @include respond-to(medium) {
        width: 30vw;
        height: 20%;
        background-image: none;
        background-color: transparent;
    }
}

.chat-communicator__messages {
    width: calc(100% - 20px);
    height: 100%;
    overflow: auto;
    text-align: left;
    margin: 14px 10px 5px 10px;

    .message {
        padding: 0, 5px, 0, 5px;
        margin-bottom: 2px;
    }
}

.chat-communicator__messages::-webkit-scrollbar {
    display: none;
}


.send-messages {
    display: flex;
    max-height: 30px;
    justify-content: center;
    margin-left: 10px;
    margin-left: 10px;
}

.send-messages__send-message-input {
    height: auto;
    max-height: 30px;
    align-self: flex-end;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .50rem;
    background-color: #73BBF4;
    border: none;
    color: black;
}

.send-messages__send-message-button {
    @include reset-button;
    align-self: flex-end;
    color: #FF9D1F;
    margin-bottom: 5px;
    margin-right: .5rem;
    margin-left: .5rem;
    font-size: 1.3rem;
}

.chat-communicator__hide-communicator-button {
    pointer-events: auto;
    position: absolute;
    right: .5rem;
    top: 0;

    @include reset-button;
}
