.charackters{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.character {
    height: 80vw;
    width: 80vw;
    align-self: center;
    margin-bottom: 20vw;

    button {
        height: 80vw;
        width: 80vw;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

