.chat-communicator {
    position: fixed;
    width: 100%;
    height: 40%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    @include respond-to(medium) {
      width: 70%;
      left: 0;
      transform: translateX(0);
      height: 30%;
    }
}

.chat-communicator__messages {
    width: 100%;
    overflow: auto;
    margin-bottom: 1%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

    .message {
        padding: 0, 5px, 0, 5px;
    }
}

.chat-communicator__messages::-webkit-scrollbar {
    display: none;
}


.send-messages{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-left: 10px;
}

.send-messages__send-message-input {
    height: auto;
    padding: 5px;
    width: 100%;
}

.send-messages__send-message-button {
    color: #007bff;

    @include reset-button;
}

.chat-communicator__hide-communicator-button{
    text-align: right;

    @include reset-button;
}