.create-match {
    flex-direction: column;
    height: auto;
    display: none;
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 2px 2px 20px;
    border-radius: 8px;
}

.create-match_active {
    display: block;
}
