.endgame-notification {
    flex-direction: column;
    height: auto;
    width: 70%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    z-index: 3;

    @include respond-to(small) {
        width: 35%;
    }

    a {
        color: white;
    }
}

.endgame-notification__vote-to-restart-game-button {
    background-color: #FF9D1F;
    border-color: white;
    color: white;

    &:hover{
        opacity: 0.9;
    }
}

.endgame-notification__exit-button {
    background-color: white;
    color: black !important;
    border-color: black;

    &:hover {
        opacity: 0.9;
    }
}

.endgame-notification__status{
    color: black;
    background: none;
}

.endgame-notification__character-img {
    margin-bottom: 1rem;
    width: 80%;
    height: auto;

    @include respond-to(medium) {
        width: 60%;
    }
}
