.find-match {
    flex-direction: column;
    display: none;
    height: 70%;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 2%;

    @include respond-to(medium) {
        width: 60%;
        height: 60%;
    }


    ul {
        background-color: white;
        padding: 10px;
        overflow: auto;
        flex-grow: 1;


        li {
            list-style: none;
            margin-top: 10px;
            background-color: gray;
            padding: 5px;
        }

        li a {
            color: white;
            text-decoration: none;
            display: block;
        }
    }
}

.find-match__back-button {
    @include reset-button;
    background-color: #007bff;
    color: white;
    height: auto;
}

.find-match_active{
    display: flex;
}

.find-match__top-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.find-match__refresh-list{
    @include reset-button;
    
}
