.find-match {
    flex-direction: column;
    display: none;
    height: 70%;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2%;
    box-shadow: 2px 2px 20px;
    border-radius: 8px;

    @include respond-to(medium) {
        width: 60%;
        height: 60%;
    }


    ul {
        padding: 10px;
        overflow: auto;
        flex-grow: 1;

        li {
            list-style: none;
            margin-top: 10px;
            background-color: white;
            box-shadow: 1px 1px 3px;
        }

        li a {
            color: black;
            text-decoration: none;
            display: block;
            height: 100%;
            width: 100%;
            padding: 5px;
        }

        li button {
            @include reset-button;
            color: black;
            height: 100%;
            width: 100%;
            text-align: left;
            padding: 5px;
        }
    }
}

.find-match__back-button {
    @include reset-button;
    background-color: #007bff;
    color: white;
    height: auto;
}

.find-match_active{
    display: flex;
}

.find-match__top-container {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.find-match__refresh-list{
    @include reset-button;   
}

