.find-match {
    flex-direction: column;
    display: none;
    height: 40%;
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;


    ul {
        overflow: auto;
        flex-grow: 1;


        li {
            list-style: none;
            margin-top: 10px;
        }
    }
}

.find-match__back-button{
    height: auto;
}

.find-match_active{
    display: flex;
}
