.game-panel {
    width: 100%;
    height: auto;
    padding-bottom: 20%;


    @include respond-to(medium) {
        position: fixed;
        width: 30%;
        height: 100vh;
        right: 0;
        top: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    div {
        @include respond-to(medium) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.game-panel__your-character-img {
    height: 80vw;
    width: 80vw;

    @include respond-to(small) {
        height: 70vw;
        width: 70vw;
    }

    @include respond-to(medium) {
        height: 15vw;
        width: 15vw;
    }
}

.game-panel__finish-turn-button {
    border-radius: 12px;
}

.game-panel__round-time {
    margin-top: 10%;
    font-size: font-scale(2);
    transition: transform .3s;
}

.game-panel__round-time_sticky {
    @media screen and (max-width: 768px) {
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 3;
        background-color: transparent;
        color: red;
        font-size: font-scale(2);
    }
}

.game-panel__character-type {
    margin-top: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.game-panel__check-character-type-button {
    margin-top: 5%;
    width: 80%;
}

.game-panel__start-game-button {
    border-radius: 12px;
    height: auto;
    width: 80vw;
    margin-bottom: 5%;
    margin-top: 5%;
    pointer-events: auto;

    @include respond-to(small) {
        width: 70vw;
    }

    @include respond-to(medium) {
        width: 15vw;
    }
}

.question-mark-icon {
    color: #F4B853;
    background-color: transparent;
}

.game-panel__game-status {
    font-size: font-scale(1);
    color: red;
    overflow: hidden;

    & span {
        position: relative;
    }

    & span::before {
        background-color: #131339;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        animation: dots 2s steps(3, start) infinite;
    }
}


@keyframes dots {
    to {
        right: -100%;
    }
}

