.game-panel {
    width: 100%;
    height: auto;

    @include respond-to(medium) {
        position: fixed;
        overflow: auto;
        right: 0;
        top: 0;
        height: 80vh;
        width: 30vw;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .game-panel__menu {
        padding-top: 20px;

        @include respond-to(medium) {
            padding-top: 20%;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.game-panel_chat-communicator-is-hidden {
    @include respond-to(medium) {
        padding-top: 0;
        height: 100vh;
        top: 50%;
        transform: translateY(-50%);
    }

    .game-panel__menu {
        @include respond-to(medium) {
            padding-top: 0;
            height: auto;
        }
    }
}

.game-panel__your-character-img {
    width: 80%;
    height: auto;

    @include respond-to(medium) {
        width: 50%;
        height: auto;
    }
}

.game-panel__finish-turn-button {
    border-radius: 12px;
}

.game-panel__round-time {
    margin-top: 5%;
    font-size: font-scale(2);
    transition: transform .3s;
}

.game-panel__round-time_sticky {
    @media screen and (max-width: 768px) {
        position: fixed;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        z-index: 3;
        background-color: transparent;
        color: red;
        font-size: font-scale(2);
    }
}

.game-panel__character-type {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    @include respond-to(medium) {
        width: 50%;
    }
}

.game-panel__check-character-type-button {
    margin-top: 1rem;
    width: 80%;

    @include respond-to(medium) {
        width: 50%;
    }
}

.game-panel__start-game-button {
    border-radius: 12px;
    height: auto;
    width: 80%;
    margin-bottom: 1rem;
    pointer-events: auto;

    @include respond-to(medium) {
        width: 50%;
    }
}

.question-mark-icon {
    color: #F4B853;
    background-color: transparent;
}

.game-panel__game-status {
    @include dots-animation(#131339);
    font-size: 15px;
    color: red;
}
