.game-board {
    @include respond-to(medium) {    
        order: -1;
        height: auto;
        min-height: 100vh;
        justify-content: center;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}
