.game {
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(to right, #5499c7, #2980b9);
    color: white;

    & .disabled {
        pointer-events: none;
    }
}

.show-chat-communicator-button {
    @include reset-button;
    height: 45px;
    width: 45px;
    font-size: 15px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-radius: 60%;
    background-color: #EE7A38;
    z-index: 2;

    i {
        background: none;
    }
}

.mute-or-unmute-sounds-button {
    @include reset-button;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 2%;
    font-size: 15px;
    top: 2%;
    border-radius: 60%;
    z-index: 2;
    background-color: #EE7A38;

    i {
        background: none;
    }
}

@keyframes dots {
    to {
        right: -100%;
    }
}
