@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.home {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-image: linear-gradient(to right, #5499c7, #2980b9);
    justify-content: center;

    .home-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-content: center;

        @include respond-to(small) {
            width: 60%;
        }
    }

    button {
        @include reset-button;
        border-radius: 12px;
        background-color: #E59866;
        color: white;
        border: 3px solid white;
    }

    & * {
        font-family: 'Fredoka One', cursive;
        font-size: font-scale(2);

        @include respond-to(small) {
            font-size: font-scale(3);
        }
    }
}

.home_blured {
    background-color: rgba(0, 0, 0, .5);
    filter: blur(4px);
}

