.home {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
        background-size: cover;
        background-image: url(../../images/background-home.webp);
        z-index: -1;
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
        background-size: cover;
        background-image: linear-gradient(to right, #5499c7, #2980b9);
        z-index: -2;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-content: center;

        @include respond-to(small) {
            width: 60%;
        }
    }

    button {
        @include reset-button;
        border-radius: 12px;
        background-color: #E59866;
        color: white;
        border: 3px solid white;
    }

    & * {
        font-family: 'Fredoka One', cursive;
        font-size: font-scale(2);

        @include respond-to(small) {
            font-size: font-scale(3);
        }
    }
}

.home_blured {
    background-color: rgba(0, 0, 0, .5);
    filter: blur(4px);
}

