@model string

<div class="game">
    <input type="hidden" class="game__game-id-input" value="@Model"/>
    

    <div class="game-panel disabled">
        <div>
            <button class="game-panel__start-game-button btn btn-danger d-none">Start</button>
            <h1 class="game-panel__game-status">Wait for enemy</h1>

            <p>Your character:</p>
            <img class="game-panel__your-character-img" src="~/images/characters/square.jpg" />
            <p class="game-panel__your-character-name">Name</p>

            <p class="game-panel__round-time">1:00</p>
            <button class="btn btn-primary game-panel__finish-turn-button">Finish turn</button>

            <select class="game-panel__character-type" name="character-type" id="character-type">
                @for (int i = 0; i < 20; i++)
                {
                    <option value="name">Name</option>
                }
            </select>
            <button class="game-panel__check-character-type-button btn btn-danger">Check</button>
        </div>
    </div>

    <div class="game-board disabled">
        <h3>Characters</h3>

        <div class="charackters">

            @for (int i = 0; i < 18; i++)
            {
                <div class="character">
                    <button class="character-button"><img class="character-img" src="~/images/characters/daw5dxd.jpg" alt="charachter name" /></button>
                    <p class="character-name">daw5dxd</p>
                </div>
            }

        </div>


    </div>

    <div class="chat-communicator d-none">
        <button class="chat-communicator__hide-communicator-button"><i class="fas fa-minus"></i></button>

        <div class="chat-communicator__messages">
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
            <p class="message">bezi: asdasd</p>
        </div>

        <div class="send-messages">
            <input class="send-messages__send-message-input" />
            <button class="send-messages__send-message-button"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <button class="show-chat-communicator-button"><i class="fas fa-comment"></i></button>
</div>

<script type="module" src="~/js/game.js"></script>
<script type="module" src="~/js/gameHub.js"></script>